<nav class="navbar navbar-expand-lg sticky-top bg-primary mb-5" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('dashboard') }}"><i class="bi bi-piggy-bank-fill me-2"></i>Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Paramètres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('schedule_index') }}">Échéancier</a></li>
            <li><a class="dropdown-item" href="{{ path('account_index') }}">Comptes</a></li>
            <li><a class="dropdown-item" href="{{ path('label_index') }}">Libellés</a></li>
            <li><a class="dropdown-item" href="{{ path('category_index') }}">Catégories</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>